<!DOCTYPE html>

<html lang="en">

<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="lists-wrapper">
    <h4>Todo Lists</h4>

    <form id="list-form" action="/lists/create" method="POST">
      <input type="text" id="name" name="name">
      <input type="submit" value="Create">
    </form>

    <div id="list-error" class="hidden">Something went wrong!</div>

    <ul id="lists">
      {% for list in lists %}
      <li data-list-id="{{ list.id }}">
        <a href="/lists/{{ list.id }}">{{ list.name }}</a>
        <button class="list-del" data-list-id="{{ list.id }}">&Cross;</button>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="todos-wrapper">
    <h4>{{ active_list.name }}</h4>

    <form id="todo-form" action="/todos/create" method="POST">
      <input type="text" id="description" name="description">
      <input type="hidden" value="{{ active_list.id }}" name="list_id">
      <input type="submit" value="Create">
    </form>

    <div id="todo-error" class="hidden">Something went wrong!</div>

    <ul id="todos">
      {% for todo in todos %}
      <li data-todo-id="{{ todo.id }}">
        <input class="completed" data-todo-id="{{ todo.id }}" type="checkbox" {% if todo.completed%}checked{% endif %}>
        <span>{{ todo.description }}</span>
        <button class="todo-del" data-todo-id="{{ todo.id }}">&Cross;</button>
      </li>
      {% endfor %}
    </ul>

    <div>
      <button id="complete-all" data-list-id="{{ active_list.id }}">Complete All</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>